#button-list-section {
  padding-top: 20px;
}

h1 {
  cursor: default;
  padding-top: 20px;
  padding-bottom: 20px;
}

form {
  width: 100%;
  display: inline!important;
}

.form-inline {
  left: 0%;
  position: absolute;
  bottom: 0px;
}
